<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.6.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Elan Touchpad</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.${PRODUCT_NAME:rfc1034identifier}</string>
			<key>IOClass</key>
			<string>ApplePS2ElanTouchPad</string>
			<key>IOProbeScore</key>
			<integer>1200</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
			<key>idProduct</key>
			<string>610</string>
			<key>ProductID</key>
			<integer>610</integer>
			<key>VendorID</key>
			<integer>1452</integer>
			<key>idVendor</key>
			<string>1452</string>
			<key>Manufacturer</key>
			<string>ElanTech</string>
			<key>Preferences</key>
			<dict>
				<key>MousePointerDPI</key>
				<integer>1200</integer>
				<key>PinchZoom</key>
				<true/>
				<key>Rotation</key>
				<true/>
				<key>ThreeFingerSwipeLeftRight</key>
				<true/>
				<key>ThreeFingerSwipeUpDown</key>
				<true/>
				<key>AccidentalInputTimeOut</key>
				<integer>1500000000</integer>
				<key>MouseButtonEnablesTouchpad</key>
				<true/>
				<key>EdgeScrolling</key>
				<false/>
				<key>TrackpadTappingCorners</key>
				<true/>
				<key>SingleDoubleTapDrag</key>
				<false/>
				<key>CommandKeyPos</key>
				<integer>0</integer>
				<key>ThreeFingerSwipeUpAction</key>
				<integer>0</integer>
				<key>ThreeFIngerSwipeLeftAction</key>
				<integer>0</integer>
				<key>ThreeFingerSwipeRightAction</key>
				<integer>0</integer>
				<key>ThreeFingerSwipeDownAction</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 EMlyDinEsHMG. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
